body{
    background-color: #e6ecf075;
}
.wrapper{
    height: 1900px;
    background-color: #065567;
}
.inner-wrapp{
    margin-bottom: 250px;
    padding-bottom: 10px;
    float: left;
    background-color: #fff;
    box-shadow: 0px 0px 2px 0px black;
}
.display-pswd{
    width: 30px;
    height: 38px;
    float: right;
    position: relative;
    bottom: 92px;
    right: 85px;
    background-image: url('picture/show-icon.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 23px;
    border-width: 0;
    opacity: 0.4;
    background-color: transparent;
}
.display-pswd:hover{
    opacity: 0.6;
}
.display-pswd:focus{
    outline: none;
}
h1{
    font-size: 36px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 18px;
}
.logo-w{
    margin-left: 15px;
    padding: 5px;
    color: #fff;
    font-weight: 600;
    border-radius: 13px;
    border: 1px solid #fff;
}
.logo-w:hover{
    color: #fff;
    text-decoration: none;
}
.logo-w:active{
    transform: scale(0.9);
}
.top-right{
    float: right;
    width: 100%;
    height: 48px;
    position: fixed;
    top: 0;
    z-index: 99999;
    line-height: 3;
    #background-color: #24735a;
    background-color: #233e54;
    box-shadow: 0px 0px 5px -1px black;
}
.top-right ul{
    padding-right: 10px;
    float: right;
    display: inline-block;
}
.top-right ul li{
    float: left;
    line-height: 3.65;
    list-style-type: none;
}
.top-right ul li a{
    padding: 0 25px;
    display: block;
    color: #fff;
    opacity: 0.7;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
}
.top-right ul li a:hover{
    opacity: 1;
    border-bottom: 1px solid #dae4e9;
}
.active{
    opacity: 1!important;
    border-bottom: 1px solid #dae4e9;
}
.container{
    margin-top: 65px;
    margin-bottom: 50px;
    min-height: 700px;
    margin-left: 0;
}
.m-sidebar{
	height: 300px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #fff;
    border-top: 1px solid #bdbdc1;
    box-shadow: 0px 0px 3px 0px #5e5e67;
}
.account{
	height: inherit;
	position: relative;
}
.sidebar-ab > h4{
	padding: 5px;
	margin-bottom: 0;
	font-size: inherit;
	color: #8080807a;
}
.sidebar-ab > p{
	padding: 10px;
}
.form-sb input[type="text"]{
	width: 80%;
	float: left;
	padding-left: 5px;
	display: inline-block;
	border-radius: 0;
}
.form-sb input[type="text"]:focus{
	box-shadow: 0px 0px 0px 0px;
}
.btn{
	display: inline-block;
    padding: 6px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    text-align: center;
    border: 1px solid transparent;
}
.btn-w{
	width: 20%;
}
.btn-log{
    width: 30%;
    border-radius: 5px;
}
.back-img img{
	width: 100%;
	height: 100px;
}
.back-img{
	padding: 1px;
	border-bottom: 1px solid #cccccf;
}
.profile{
    width: 39%;
    border-radius: 15px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    border: 2px solid whitesmoke;
    bottom: 35px;
    left: 30%;
    z-index: 99999;
}
.profile img{
	max-width: 100%;
}
.prof-name{
	position: relative;
	bottom: 25px;
	text-align: center;
    list-style: none;
}
.prof-name a{
	font-weight: 500;
}
.prof-name p{
	margin-bottom: 0;
	color: #6c7477;
    font-style: italic;
}
.extra-in{
	position: absolute;
    bottom: 0;
    width: 100%;
	border-top: 1px solid #c2c2c6;
}
.extra-in p{
	padding-left: 10px;
	margin-bottom: 0;
}
.update-link{
    text-align: center;
    display: block;
}
.u-s{
    line-height: 2;
    color: #007bff;
    border-width: 0;
    font-weight: 500;
    background-color: transparent;
}
.hashtags-link ul{
	display: inline-block;
	padding: 5px;
}
.hashtags-link ul li{
    padding: 2px;
    margin: 3px;
    float: left;
    color: #c7c7c7;
	list-style: none;
    text-align: center;
    border-radius: 10px;
    background-color: aliceblue;
}
.find-more{
	list-style: none;
    border-top: 1px solid lightgray;
    text-align: center;
}
.find-more a{
	font-size: 13px;
}
.suc{
    width: 100%;
    height: 250px;
    display: inline-block;
    position: relative;
    top: 48px;
    background-color: #d4edda;
}
.succ-sing{
    background-image: url('picture/succ-sign.png');
    background-position: 58% center;
    background-size: 20px;
    background-repeat: no-repeat;
}
.aler{
    top: 37%;
    position: relative;
    text-align: center;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.aler > p{
    font-style: italic;
    font-size: larger;
}
.warning{
    width: 100%;
    height: 250px;
    display: inline-block;
    position: relative;
    top: 48px;
    background-color: #f15f5f78; 
}
.aler-warnig{
    top: 40%;
    position: relative;
    text-align: center;
    color: #ac4444;
    font-weight: bold;
    font-size: 20px;
    border-color: #c3e6cb;
}
.err-sing{
    background-image: url('picture/error-sign.png');
    background-position: 66% center;
    background-size: 20px;
    background-repeat: no-repeat;
}
.welcome{
    margin-top: 48px;
    height: 400px;
}
.welcome > h1{
    padding: 175px;
    font-weight: normal;
    text-align: center;
    text-shadow: 3px 45px whitesmoke;
}
.login{
    width: 86%;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 4px -2px black;
}
.login h1{
    font-size: 24px;
    padding: 0px 0 20px 80px;
    clear: both;
}
.login form{
    width: 70%;
    margin: 0 auto;
}
.scnd-log-add{
    margin: 0 auto;
    width: 86%;
    padding: 10px 10px;
    text-align: center;
    background-color: #f4f4f4;
    box-shadow: 0px 0px 4px -2px black;
}
.add-opt{
    width: 5%;
    float: right;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}
.more-opt{
    border-width: 0;
    background-color: transparent;
}
.more-opt:focus{
    outline: none;
}
.media-body{
    width: 95%;
    display: inline-block;
}
.w-con-1{
    margin-top: 100px;
}
.dev-frame{
    border-radius: 10px;
    box-shadow: 0px 0px 3px -1px black;
    background-color: #e8e8e8;
}
.premium{
	height: 2px;
    margin: 0;
    background-color: #bfa202;
}
#main{
    background-color: white;
    box-shadow: 0px 0px 3px 0px #5e5e67;
}
.left-aside{
    width: 36%;
    height: -webkit-fill-available;
    padding: 5px;
    margin-left: 20px;
    display: inline-block;
    position: absolute;
    left: -40%;
}
.left-box-1{
    position: sticky;
    top: 64px;
    padding: 3px;
    background-color: #fff;
    box-shadow: 0px 0px 3px 0px #5e5e67;
}
.left-box-1 img{
    max-width: 100%;
}
.sort-feeds{
    display: inline-block;
    position: absolute;
    right: -7.8%;
}
.sort-feeds ul{
    margin: 0;
    clear: both;
    padding-left: 0;
    text-align: center;
    background-color: #ffffff;
}
.sort-feeds ul li{
    list-style: none;
}
.sort-feeds ul li a{
    text-decoration: none;
    display: block;
}
.sort-feeds ul li:hover{
    background-color: #acd4ff;
}
.sort-ab-show{
    width: 100px;
    position: relative;
    top: 0px;
    right: 0px;
    display: block!important;
    z-index: 9999;
    background-color: white;
    box-shadow: 0px 0px 3px 0px #5e5e67;
}
.sort-ab{
    padding: 3px;
    user-select: none;
    float: right;
    color: #797b7d;
    cursor: pointer;
}
.u-sort{
    display: none;
}
.percent-cnt{
    width: 3px;
    height: -webkit-fill-available;
    display: inline-block;
    position: absolute;
    left: -3px;
    border: 1px solid lightgrey;
}
.percent-cntr{
    width: 3px;
    display: inline-block;
    position: absolute;
    left: -3px;
    height: 100%;
    scroll-behavior: smooth;
    animation: pecent 2s infinite;
}
@keyframes pecent{

}
.create-post{
    width: 35%;
    margin-bottom: 15px;
    background-color: white;
    box-shadow: 0px 0px 3px 0px #5e5e67;
}
.post_created{
    padding-left: 3%;
    color: #bcbec2;
}
.media img{
    max-width: 8%;
}
.media h5{
    display: inline;
}
.pointimg{
    width: fit-content;
    margin: 0 auto;
}
.likes{
    margin-top: 10px; 
    display: inline-flex;
    position: sticky;
    top: 100%;
}
.button1{
    width: 80px;
    border-width: 0;
    border-radius: 5px;
    background-color: transparent;
    border-top: 2px solid #208cff;
    box-shadow: 0px 0px 3px -1px black;
    text-indent: 5px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 8px center;
    background-image: url(/images/like-icon.png?32cb61a…);
}
.button1:hover{
    color: #fff;
    background-color: #007bff;
    transition-duration: 0.5s;
}
.button1:focus{
    outline: none;
}
#button2{
    width: 80px;
    margin-left: 20px;
    border-width: 0;
    border-radius: 5px;
    background-color: transparent;
    border-top: 2px solid darkred;
    box-shadow: 0px 0px 3px -1px black;
    text-indent: 15px;
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: 5px center;
    background-image: url(/images/dislike-icon.png?32cb61a…);
}
#button2:hover{
    color: #fff;
    background-color: darkred;
    transition-duration: 0.5s;
}
#button2:focus{
    outline: none;
}
.span1{
    list-style: none;
}
.frame-builder{
    
}
.frame-builder li{
    line-height: 4;
    list-style: none;
    color: #a7a8a6;
}
.frame-builder li:first-child:hover{
    text-decoration: underline;
    color: #4a87bd;
}
.frame-builder hr{
    margin-top: 0;
    margin-bottom: 0;
}
.button-builder{
    width: 165px;
    height: 70px;
    border: 0;
    background-color: transparent;
}
.button-builder:focus{
    outline: 0;
}
.builder{
    width: 95%;
    margin: 0 auto;
    display: none;
}
.show{
    display: none;
}
.write-post{
    background-image: url('picture/write-post.png');
    background-position: 12px;
    background-size: 16px;
    text-indent: 11px;
    background-repeat: no-repeat;
}
#text-area{
    min-height: 130px;
}
.post-frame{
    width: 100%;
    margin-top: 7px;
    background-color: #233e54;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.post-frame img{
    max-width: 7%;
    margin-left: 5px;
}
.post-frame li{
    display: inline-block;
}
.post-frame li a{
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}
.post-frame-image{
    margin: 5px auto;
    text-align: center;
}
.post-frame-image img{
    max-width: 100%;
}
#text-area input[type="submit"]{
    width: 10%;
    margin-bottom: 10px;
    position: relative;
    left: 90%;
    color: #fff;
    line-height: 2;
    border-width: 0;
    border-radius: 5px;
    background-color: #007bff;
}
#file::-webkit-file-upload-button {
  visibility: hidden;
}
#file::before{
    width: 95px;
    padding: 0px 5px;
    display: inline-block;
    content: '';
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    border-right: 1px solid #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e3e3e3));
}
#file{
    width: 86px;
    height: 70px;
    float: right;
    display: inline-block;
    border-left: 1px solid #dbdee1;
    background-color: #fff;
}
#file:hover{
    background-color: #00000008;
}
.file-icon{
    background-image: url('/picture/upload-icon.png');
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
}
.form-textarea{
    width: 100%;
    height: 100px;
    padding-top: 7px;
    padding-left: 10px;
    resize: none;
    border: 1px solid #233e546b;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    #height: calc(1.5em + 0.75rem + 2px);
}
.form-textarea:focus{
    outline: 0;
    background-color: #fff;
    box-shadow: 0px 0px 2px 0px #7bbbe3;
}
.col-lg-8{
    max-width: 65.666667%;
    flex: 0 0 65.666667%;
    margin: 0 26%;
}
.col-lg-4{
    flex: 0 0 25.333333%;
    max-width: 20.333333%;
    max-height: 80%;
    position: fixed;
    right: -17px;
    overflow-y: auto;
}
.navbar{
	margin-bottom:15px;
}
.list-group{
	margin-bottom:15px;
}
.jumbotron{
	background-color:transparent;
}
#footer{
	position: sticky;
    top: 37%;
}
#footer > p{
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 11px;
    text-decoration: none;
}
.le-po{
    line-height:2;
    padding-right:20px;
	text-align:right;
    font-weight:600;
}
.le-po a{
	color: #636b6f;
}
.le-po a:hover{
	text-decoration:none;
}
.footer-bttm{
	
}